Базовое понимание методов и концепций ML: crossvalidation, data_leaks, trees, boostings. Опыт решения задач анализа данных на Python с...
Что ждем от разработчика: техническую экспертизу, круто если есть архитектурный бэкграунд и/или желание в этом направлении прокачиваться. 
Профильное образование обязательно: математическое или по специальностям машинное обучение и анализ данных. Уверенное владение Python, PostgreSql и MySQL . 
Опыт разработки на Python в больших и сложных проектах в роли ведущего разработчика. Знание и опыт использования паттернов проектирования. 
Знания Linux систем. Уверенные знания Django Framework. Работа с PostgreSQL. Понимание общего принципа микросервисной архитектуры. Опыт работы с legaсy – кодом. 
Пишешь на python уже минимум 2 года. У тебя есть опыт вывода в прод ML моделей и рефакторинга DS кода.
Хорошее владение Python 3. Базовые навыки работы с Linux. Опыт работы с системами контроля версий git. Ответственность, коммуникабельность и умение...
В backend команду Everypixel ищем pythonразработчика с опытом 2 года.  способен самостоятельно решать задачи. Плюсом будет:  опыт проектирования и...
Есть опыт коммерческой разработки на Python (более 3 лет). Flask и SQLAlchemy или Django. Знание языка запросов SQL, глубокое понимание...
Законченное высшее образование. Опыт работы Python (3x) разработчиком от 6 месяцев. Опыт работы с flask. Опыт работы с библиотекой...
О компании Duplicat.ai. Что ты будешь делать.  Опыт работы бэкендинженером не менее 6 лет.  Опыт работы с Python или...
Знание C. Знание Python. Знание ML/DL. Хорошая математическая подготовка. Работа с git, bash, docker. Умение реализовывать статьи. 
Знание Python. Знание CV классического (Opencv). Знание ML/DL (Pytorch). Хорошая математическая подготовка. Работа с git, bash, docker. 
Знание Python 3 и базовых библиотек. * Опыт работы с реляционными БД, знание SQL, желательно – SQLAlchemy. * Опыт работы с веб фреймворками...
...коммерческой разработки на Python не менее 2 лет. Превосходно болтаешь и чатишься на английском языке. Коммерческий опыт работы с ML.
Знание Python. Знание CV классического (Opencv). Знание ML/DL (Pytorch). Хорошая математическая подготовка. Работа с git, bash, docker. 
Превосходно болтаешь и чатишься на английском языке. Коммерческий опыт работы с ML. Опыт работы с Tornado и Flask.
Знание Python. Знание CV классического (Opencv). Знание ML/DL (Pytorch). Хорошая математическая подготовка. Работа с git, bash, docker. 
Знание C. Знание Python. Знание ML/DL. Хорошая математическая подготовка. Работа с git, bash, docker. Умение реализовывать статьи. 
Знание C. Знание Python. Знание ML/DL. Хорошая математическая подготовка. Работа с git, bash, docker. Умение реализовывать статьи. 
